html,
body{
	min-width: 1122px;
	min-height: 1750px;
}
body{
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700; /* в гугле когда мы подключили шрит стоияло именно это значение, прописуем для того, чтобы не было несоответствия*/
	color: #f7f4f1;
	text-transform: uppercase;

	
	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}


a{
	text-decoration: none; /*- убирает подчеркивание */
}
.main-header{
	margin-bottom: 75px;
}
.inner-page{ /* Меняем стилизацию в body для внутренних страниц (на главной у нас фон чёрный - текст светлый мы делаем фон светлый - текст чёрный)*/
	color: #000000;

	background-color: #f7f4f1;
	background-image: url("../img/bg-section.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}
.inner-page .main-header{
	margin-bottom: 50px;

	background-color: #000000;
}

.button{
font: inherit; /* - принудительно наследует параметры шрифта от родителя body*/

text-align: center;
color: #ffffff;
vertical-align: middle; /* - выравнивает текст*/
text-transform: uppercase;

background-color: #000000;
border: none;
}

.button:hover,
.button:focus,
.buttio:active{ /* когда кнопка в активном состянии*/
	background-color: #663d15;
}
.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-navigation{
	font-size: 16px;
	line-height: 20px;
	color: #f7f4f1;

	background-color: transparent;

	display: flex;
	flex-direction: column; /*Поворачиваем перпендикулярную ось */
	align-items: center; /*Выравниваем ОБЪЕКТЫ по-центру*/
}
.inner-page .main-navigation{
	align-items: flex-start; /* main-navigation уже является флекс контейнером, поэтому задаём выравнивания относительно поперечной оси
задаём для того, чтобы прижать элементы к стартовой линии, если измениться высота 1 элемента, остальные по-прежнему будут прижаты к началу*/
	flex-direction: row; /*Задаём стандартное горизонтальное направление главной оси, чтобы элементы стали по ширине страницы*/
}
.main-navigation-wrapper{
	width: 100%;

	background-color: #000000;
}
.main-navigation-wrapper .container{
	display: flex;
	justify-content: space-between; /* Распределяет контент равномерно между вем блоком*/

	margin-bottom: 60px;
}
.main-header-logo{
	order: 3;
	width: 371px;
	height: 155px;

	/*Временно для сетки*/	
	/*display: block;*/ /* - до display:flex строчный элемент <а> (картинка в ссылке) 
	нуждалась в преобразование в блочный элемент, когда преобразовали во флекс элемент display:block - уже не надо*/
}
.inner-page .main-header-logo{
	order: 0; /*Возвращаем логотип в начало списка*/

	width: 111px;
	height: 24px;
	padding: 23px 20px;
}
.site-navigation{
	width: 620px;
	margin: 0;
	padding: 0;

	list-style: none;

	/*Временно для сетки*/
	min-height: 70px;
}
.user-navigation{
	width: 140px;
	margin: 0;
	padding: 0;

	list-style: none;
	/*Временно для сетки*/
	min-height: 70px;
}
.inner-page .user-navigation{
	margin-left: auto;
}
.site-navigation a,
.user-navigation a {
	color: #f7f4f1;
}
/* Настройка отрисовки при наведении  и клике*/
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
	background-color: #242424;
}

.page-title{
	font-size: 30px;
	line-height: 42px;

	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}
.features{
	margin-bottom: 80px;
}
.features-list{
	display: flex; /*сделали расположение в 1 строчку типа display:inline-block*/
	justify-content: space-between; /* Распределяет контент равномерно между вем блоком*/
	margin: 0;
	padding: 0;
	

	list-style: none; /* Убрать у UL порядковое обозначение*/
}

.features-item{
	text-align: center; /* Рассположить текст по-центру */

	width: 300px;
}
.features-item h3{
	font-size: 30px;
	line-height: 42px;
}
.index-columns{
	color: #000000;

	background-color: #f7f4f1;
	background-image: url("../img/bg-section.jpg");
	background-position: 0 0;
	background-repeat: repeat;

	padding: 50px 80px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.index-columns h2{
	font-size: 30px;
	line-height: 42px;
}
.news{
	width: 380px;
}
.news-list{
	list-style: none;
}
/* Убираем апперкейс который задали в body на весь документ*/
.news-list time{
	text-transform: none;
}
.gallery{
	width: 300px;
}
.gallery-content{
	background-color: #e5e5e5;
	border: 7px solid #ffffff;
}
.contacts{
	width: 380px;
}
.appointment{
	width: 300px;
}
.appointment-item input{ /*стилизуем формы для ввода*/
	font: inherit; /* Наследуем стиль тексата от родительского body*/

	background-color: transparent;
	border: 2px solid #000000; /* задаём поле и цвет*/
}
.appointment-item input:focus{
	border-color: #663d15;
}
.main-footer{
	color: #ffffff;

	background-color: #232323;
	background-image: url("../img/bg-footer.jpg");
	background-position: 0 0;
	background-repeat: repeat;

	margin-top: 65px;
	padding: 60px 0; 
}
.main-footer .container{
	display: flex;
	/*justify-content: space-between; - не подойдёт, так как разные отступы между встроенными блочками
	Используем margin*/
}
.footer-contacts{
	margin: 0; 	/*Так как это АБЗАЦ <p> текст у него по умолчанию есть margin, его нужно обнулить НЕ ЗАБЫВАЕМ!*/
	width: 320px;
	margin-right: 80px;
}
.footer-contacts a{
	color: #ffffff;
	text-decoration: underline ;/* Вернуть подчёркивание для ссылки*/
}
.footer-social{
	text-align: center; /* Рассположение текта по-центру*/

	width: 145px;
}
.footer-social ul{
	list-style: none;
}
.social-button{
	color: #ffffff;
	text-decoration: none;
}
.footer-copyright{
	text-align: center;

	margin: 0; 	/*Так как это текст у него по умолчанию есть margin, его нужно обнулить*/
	width: 150px;
	margin-left: auto; /*прижимаем контент ВЛЕВО*/
}
.footer-copyright a:hover,
.footer-copyright a:focus{
	color: #000000;

	background-color: #ffffff;
}
.modal{
	color: #000000;

	background-color: #f7f4f1;
	background-image: url("../img/bg-section.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}
.modal h2{
	font-size: 30px;
	line-height: 42px;
}
.login-icon-user,
.login-icon-password{
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-icon-user:hover,
.login-icon-password:hover{
	border-color: #663d15;
}
.login-checkbox:hover,
.login-checkbox:focus{
	color: #663d15;
}
.restore {
	color: #000000;
	text-decoration: underline;
}
.restore:hover,
.restore:focus{
	text-decoration: none;
}
.breadcrumbs{
	list-style: none;

	padding: 0;
	margin: 0;
	margin-bottom: 55px;
}
.breadcrumbs a{
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus{
	text-decoration: underline;
}
.breadcrгmbs-current{
	color: #aba9a7;
}
.catalog-columns{
	display: flex; /*Добавили обёртку div для фильтров и каталога, чтобы удобно рассположить*/
	justify-content: space-between; /* распределили свободное место между блоками*/
}
.filter fieldset{
	border: none; /* Убираем поля у филдсет*/
}
.filters{
	font-size: 14px;
	line-height: 18px;

	width: 180px;
}
.filters legend{
	font-size: 24px;
	line-height: 30px;
}
.filters li{
	list-style: none;
	line-height: 18px;
}
.filter-option: hover + label,
.filter-option: focus + label{ /* Добавляем цвета шрифта и подписи на форме при наведении и клике*/
	color: #663d15;
}
.filter-option: disable + label{ /* Добавляем стить для заблокированного поля*/
	color: #000000;

	opacity: 0.5; /*Прозрачность*/
}
.catalog{
	line-height: 18px;

	width: 700px;
}
.catalog-list{
	list-style: none;

	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	display: flex; /*Выставляем карточки товара в список флекс-контейнера*/
	flex-wrap: wrap; /* - делаем разрещение переноса элементов на новую строку*/
	/*justify-content: space-between; /*Это не гибкая система, если будет меньшее количество карточек, то расстояние будет разное (не как в макете)
	Поэтому лучше задавать точные margin (пример ниже)*/
}
.catalog-item{
	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	width: 220px;
	margin-bottom: 20px;
	margin-right: 20px; /*Сейчас 3 элемента не помещаются в 1 строку, так как размер контейнера 700,
	а с учётом марджин лефт 20 пикс у нас получается итого 720 пикс, поэтому сбрасываем каждому 3-эму элементу правый отступ*/
}
.catalog-item:nth-child(3n){
	margin-right: 0; /* сбросили правый марджин каждому 3-эму элементу*/
}
.catalog-item:hover{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) /* Добавили тень для фотографии товара при наведении*/
}
.catalog-category,
.catalot-item-title{
	color: #000000;
	text-align: left; 
}
.catalog-category{
	text-transform: none;
}
.catalog-item-image,
.catalog-item-price{
    text-align: center;
}
.catalog-item-price b{
	text-align: center;

	background-color: #e5e5e5;
}
.pegination-list{
	list-style: none;

	padding: 0;
	margin: 0; 
}
.pagination-item a{
	color: #ffffff;

	background-color: #000000;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active{
	background-color: #663d15;
}
.pagination-item-current a{
	color: #000000;

	background-color: #ffffff;
}
.product-photo-preview{
	list-style: none;
}
.product-photo-preview li{
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); /* Задаём тени для фото*/
}
.product-photo-full{
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.product-article{
	color: #aeaeae;
	text-align: right;
}
.product-price{
	text-align: left;
}
.product-price b {
	text-align: center;
	background-color: #e5e5e5;
}
.product-info h3{
	font-size: 24px;
	line-height: 30px;
}
.product-info ul{
	list-style: none;
}
.service-title{
	font-size: 48px;
	line-height: 55px;
	
	text-align: center;
}
.service-info{
	text-align: left;
}
.service-info h3{
	font-size: 24px;
	line-height: 30px;
}

.brands-list ul{
	list-style: none;
}
table{
	border-collapse: collapse; /* Убираем пустые промежутки между ячейками*/
	border: 2px solid #000000;
}
.price-list-table th{
	border: 2px solid #000000;

	text-align: left;
}
.price-list-table td{
	border: 2px solid #000000;

	text-align: center;
}
